/* Enter your custom styles here */
.desc{
    display: none;
  }
  .vertical-center {
    display: flex;
    align-items: center;
  }
  
  .centerText {
    margin-left: 29px;
}
.blueLabel {
  color: blue;
}

.boldText {
  font-weight: bold;
}
