/* Enter your custom styles here */

.pageformat{background-image: url("https://t3.ftcdn.net/jpg/03/08/45/26/360_F_308452619_8y0BAX0QHlm2arC8ByfbYHx429g52Is0.jpg"); background-size: cover;}

.pageback{background-image: none; background: transparent;}

/* Add this CSS in your styles or in a style tag */

.page{background-image: url("https://www.optimistikinfo.com/images/javascript-html-mobile.png"); background-size: cover;
    border: solid 2px}

.tileLayout {
    border: solid 2px;
    box-sizing: content-box;
    display:flow-root;
  }

  .prorposal{border: solid 4px;}

  .buttonfortool{border-style: inherit; border-color: black;}
  
  /* Style for the table */
.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #060907; /* Indigo border for the table */
  }
  
  /* Style for table header */
  th {
    background-color: #7eac73; /* Indigo */
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #b82542; /* Darker Indigo */
    border-right: 1px solid #4e5dab; /* Darker Indigo border on the right */
  }
  
  /* Style for table rows */
  tr {
    background-color: #f8f9fc; /* Light Grayish Blue */
    border-bottom: 1px solid #ccc; /* Light Gray border for each row */
  }
  
  /* Style for alternating rows */
  tr:nth-child(even) {
    background-color: #edf1f7; /* Light Gray */
  }
  
  /* Style for table data */
  td {
    padding: 10px 15px;
    border-right: 1px solid #ccc; /* Light Gray border on the right of each cell */
  }
  
  /* Hover effect for table rows */
  tr:hover {
    background-color: #e2e6ea; /* Lighter Gray */
  }


  