/* Enter your custom styles here */
.startpage {
  background-color: rgb(110, 109, 109);
  background-image: url(https://wallpapershome.com/images/pages/pic_h/15637.jpg);
  background-size: 100%;
}

.sapUiTinyMarginBegin {
  color: whitesmoke;
}

.starttext {
  color: bisque;
  font-style: italic;
  font-weight: lighter;
  font-size: 24px;
  padding-top: 5%;
}

.starttext1 {
  color: bisque;
  font-style: italic;
  font-weight: lighter;
  font-size: 24px;
  padding-top: 5%;
}

.bar1 {
  padding-top: 4%;
  padding-bottom: 4%;
}

.barEdit {
  background-color: rgb(141, 141, 141);
}

.bigFont {
  font-weight: bold;
  font-size: 20px; /* Adjust the size as needed */
}

.bigFont1 {
  font-weight: bold;
  font-size: 20px; /* Adjust the size as needed */
}

.align {
  background-color: transparent;
  padding-bottom: 1%;
}

.edit {
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.carfooter {
  padding-top: 3%;
}

.customDialog {
  background-color: bisque;
}
