/* Enter your custom styles here */

.vbox{
    background-image: url("https://www.4cpl.tech/ast/uploads/2022/04/proposal-management-system-case-study-main.jpg");
    background-size: cover;
    
   ;
}

.lable{
    text-decoration: white ;
    font-weight: bold;
    color: white;
    lighting-color: chocolate;
}
.lables{

    font-weight: bold;
    color: black;
    lighting-color: white;
}

.edit{
    background: transparent;
    
}

/* .tileLayout {
    border: solid 2px;
    box-sizing: content-box;
    display:flow-root;
  } */